@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SalesTransaction>
@{
    ViewBag.Title = "DepartmentEmployeeSale";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Personel Satış</h2>
<br />
<div style="background-color:lightgrey;padding:10px 16px">
    Personle Adı: @ViewBag.EmployeeName
</div>
<table class="table table-hover">
    <tr>
        <td> Satış ID</td>
        <td> Ürün</td>
        <td> Müşteri </td>
        <td> Fiyat </td>
        <td> Adet </td>
        <td> Toplam </td>
        <td> Tarih </td>
        <td>  </td>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SalesID</td>
            <td>@x.Product.ProductName</td>
            <td>@x.Customer.CustomerName @x.Customer.CustomerSurname</td>
            <td>@x.Price</td>
            <td>@x.Number</td>
            <td>@x.TotalPrice</td>
            <td>@x.Date</td>
            <td><a href="#" class="btn btn-secondary">Yazdır</a></td>
        </tr>
    }
</table>