@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Personeller</h2>
<br />
<table class="table table-striped" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Departman</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.EmployeeID</td>
            <td>@x.EmployeeName</td>
            <td>@x.EmployeeSurname</td>
            <td>@x.EmployeeImage</td>
            <td>@x.Department.DepartmentName</td>
            <td><a href="/Employee/EmployeeUpdate/@x.EmployeeID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Department/DepartmentEmployeeSale/@x.EmployeeID" class="btn btn-secondary">Satış Geçmişi</a></td>

        </tr>
    }
</table>
<a href="/Employee/EmployeeAdd" class="btn btn-primary">Personel Ekle</a>


