@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model InvoiceItem
@{
    ViewBag.Title = "InvoiceItemAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Fatura Kalem Girişi</h2>
<br />

<form class="form-group" method="post">
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.Label("Miktar")
    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
    <br />
    @Html.Label("Birim Fiyat")
    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
    <br />
    @Html.Label("Tutar")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Id")
    @Html.TextBoxFor(x => x.InvoiceId, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Kaydet</button>
</form>
