@model MvcOnlineTicariOtomasyon.Models.Siniflar.SalesTransaction

@{
    ViewBag.Title = "SalesUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Satış İşlemi Güncelleme Sayfası</h2>

@using (Html.BeginForm("Update", "Sales", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.SalesID)
    @Html.LabelFor(x => x.Product)
    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.products, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri")
    @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.customers, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Employee)
    @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.employees, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Number)
    @Html.TextBoxFor(x => x.Number, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TotalPrice)
    @Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
</div>
    <button class="btn btn-info">Kaydet</button>
}


